
{% extends 'layouts/base.html' %}

{% block content %}
<h1>About me</h1>


<h3>{{nombre}}</h3>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima animi unde vero corrupti qui, tenetur officia reprehenderit? Ad omnis cupiditate excepturi. Eum soluta consequuntur beatae, officia saepe adipisci blanditiis voluptate dolore. Tempora, necessitatibus ex atque nisi ipsum vero deserunt, quo sunt aut dolor numquam! In asperiores consequatur rem laboriosam quis vitae voluptas at, vero nulla ipsa officia, obcaecati harum ipsam. Dignissimos corporis nam reprehenderit adipisci, minima, voluptas dolor deserunt, modi ex amet harum cum aspernatur perferendis ipsum. Obcaecati blanditiis ipsam officia dignissimos deserunt debitis velit, tenetur voluptas delectus voluptatum at aut placeat! Similique culpa incidunt cum facere impedit officiis distinctio?
</p>
{% endblock %}